{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4 text-success">Detalles Cliente</h2>

    <form method="POST" class="card p-4 shadow-sm">
        {% csrf_token %}

        {% include "cliente/cliente_form_sections.html" %}
        <div class="d-flex justify-content-center gap-3 mt-4">
            <button type="submit" class="btn btn-success">
                Guardar Cambios
            </button>

            <a href="{% url 'cliente:cliente-list' %}" class="btn btn-danger">
                Cancelar
            </a>
        </div>
    </form>
</div>
{% endblock %}